%h1= @movie.title
.jumbotron
  .row
    .col-md-2
      %img.img-rounded{ src: @movie.cover, height: 150, width: 100 }
    .col-md-10
      %strong
        = @movie.genre.name
        = ' (' + @movie.released_at.to_s + ')'
      %b= 'Rating: ' + @movie.rating.to_s
      %p= @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
%h2 Comments
= render @movie.comments

- if user_signed_in?
  %h2 Add a comment:
  = form_with(model: [@movie, @movie.comments.build ], local: true) do |form|
    - if flash[:errors].present?
      %div
        - flash[:errors].each do |err|
          %li
            = err
    %p
      = form.label :body
      = form.text_area :body
    %p
      = form.submit
- else
  %h2 Please login in order to leave a comment
